{% extends "base.html" %}
{% load static %}
{% block content %}
        
        <a style="color: black;" href="/inf">
            Информация о сайте
        </a>
        <div>
            <a style="color: black;" href="/likbez">
                Ликбез
            </a>
        </div>
        <div>
            <a style="color: black;" href="/guests">
                Карточки гостей
            </a>
        </div>
        <div style="color: black;" class="title-home">
            Добро пожаловать
        </div>
        <div>
            <img class="img-home" src="{% static '11.jpg' %}" />
        </div>    
{% endblock %}