{% extends "base.html" %}
{% load static %}
{% block content %}
        
        <a class="btn btn-secondary m-2" style="color: black;" href="/inf">
            Информация о сайте
        </a>
        <div>
            <a class="btn btn-secondary m-2" style="color: black;" href="/likbez">
                Ликбез
            </a>
        </div>
        <div>
            <a class="btn btn-secondary m-2" style="color: black;" href="/guests">
                Карточки гостей
            </a>
        </div>
        
        <div>
            <img class="img-home" src="{% static '11.jpg' %}" />
        </div>    
{% endblock %}