{% extends "base.html" %}
{% load static %}
{% block content %}
        
        <div>
            <a style="color: black;" href="/">
                Главная
            </a>
        </div>
        <div class="border border-3 border-info w-25 m-2 p-3 rounded" style="width: 40vw;">
            Выбор корма:      это сложная задача для владельца собаки. 
            Если зайти в зоомагазин, то сразу "разбегаются глаза" 
            от огромного количества брендов, видов и классов.

            Чтобы понять, какой корм для вашей собаки лучше, учитывайте не 
            только возраст, породу, образ жизни, но и особенности темперамента,
            вес, состояние здоровья питомца.
        </div>
        <div class="border border-3 border-info w-25 m-2 p-3 rounded" style="width: 40vw;">
            Вакцинация:      поставленная собаке прививка сохранит не только ее здоровье,
            но и предотвратит ряд заболеваний у домочадцев. Кроме того, потратив
            некоторое время и деньги на профилактический укол, владелец убережет
            себя от возможных больших трат в будущем, если питомец вдруг
            «подхватит» заразу. Чтобы вакцинация собаки прошла успешно и оказала
            на организм животного только положительное действие, нужно знать,
            когда и какую вакцину ставить, и правильно подготовить любимца к процедуре.
        </div>
        <div class="border border-3 border-info w-25 m-2 p-3 rounded" style="width: 40vw;">
            Приучение щенка к выгулу:   Утром, перед сном и после каждой еды щенка выносят 
            на улицу, дожидаются, когда он присядет, и произносят команду. Если щенок все сделал, команду
              подкрепляют — хвалят пса, поощряют любимой едой. При отсутствии результата,
               терпеливо ждут, пока щенок соберется и все-таки присядет.
            При терпении и настойчивости щенок обязательно поймет, что от него требуется. 
            Иногда и при регулярном выгуле пес продолжает испражняться дома
        </div>
        <div class="border border-3 border-info w-25 m-2 p-3 rounded" style="width: 40vw;">
            Как часто мыть собаку:    dетеринарные врачи уверяют, что купать животное не 
            только можно, но и нужно. Во время процедуры купания, устраняется запах псины,
             появляющийся от шерсти,
              а также проводиться своего рода профилактика заболеваний кожного покрова.

            Частота купаний может быть различна. Некоторые владельцы собак и заводчики, 
            рекомендуют купать питомца не чаще нескольких раз в год. Обосновывая это утверждение
             тем, что частые водные процедуры с применением шампуней, приводят к разрушению 
             специального защитного слоя на коже, необходимого для защиты от различных заболеваний
              и паразитов.
        </div>
        
{% endblock %}